<% if page['questions'].present? %>
	<% current_questions = session[current_user.id.to_s]["question"] %>
  <% page['questions'].each do |question| %>
  	<% if current_questions[question.to_i].present? %>
	    <p class="<%= 'draggable draggable-toucher' unless is_background=='true' || is_final %>" id="question-preview-<%= question %>-page-<%= id %>"><%= current_questions[question.to_i]["title"] %></p>
	  <% end %>
  <% end %>
<% end %>