<div id="background-preview" class="clearfix">
  <% if session["#{current_user.id.to_s}"]["pages"].present? %>
		<% session["#{current_user.id.to_s}"]["pages"].each do |id, pages| %>
			<%= render "/questions/page", page: pages, id: id, is_background: true %>
		<% end %>
	<% end %>
</div>
<div id="set-background-form"></div>